<div class="centered-content text-center">
  <h1 class="text-center">Find me projects using:</h1>
  <hr>

  <% @tags.each do |tag| %>
    <%= link_to tag, github_path(user: tag.user, repo: tag.repo), class: 'thumbnail tag' %>
  <% end %>
</div>