$rating_zindex: 100;
$header_zindex: 1000;

#main-content {
  padding-top: 60px;
}

.header {
  height: 44px;
  padding-top: 5px;
  background-color: #eee;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  z-index: $header_zindex;
}

h4 {
  margin-top: 0;
}

.repo-wrapper {
  border: 1px solid #ddd;
  margin-bottom: 30px;

  img {
    max-width: 80px;
  }
  .content {
    background-color: #fff;
    margin: 10px;
  }


  .tags, .details {
    width: 48%
  }
  .details {
    border-right: 1px solid #ddd;
    padding-right: 20px;
    .text {
      margin-left: 90px;
    }
  }
  .tags {
  }
}

.languages {
  margin: 0 10px;
  color: #999;
  font-size: 11px;
}

#main-text {
  h1 {
    font-weight: normal;
    font-size: 18px;
    color: #999;
    font-style: italic;
    margin: 0;
  }

}

.tag {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  &:hover {
    text-decoration: none;
  }
}

p.muted {
  font-size: 12px
}

.margin {
  margin-bottom: 40px;

  h3.muted {
    font-size: 18px;
    font-weight: normal;

    strong {
      color: #333;
      font-size: 24px;
    }
  }
}