$rating_zindex: 100;
$header_zindex: 1000;

#main-content {
  padding-top: 70px;
}

.header {
  height: 44px;
  padding-top: 5px;
  background-color: #eee;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  z-index: $header_zindex;
}

h4 {
  margin-top: 0;
}

.repo-wrapper {
  border: 1px solid #ddd;
  margin-bottom: 30px;

  img {
    max-width: 80px;
  }
  .content {
    background-color: #fff;
    margin: 10px;
  }


  .tags, .details {
    width: 48%
  }
  .details {
    border-right: 1px solid #ddd;
    padding-right: 20px;
    .text {
      margin-left: 90px;
    }
  }
  .tags {
  }
}

.languages {
  margin: 0 10px;
  color: #999;
  font-size: 11px;
}

#main-text {
  margin-bottom: 40px;

  h1 {
    font-weight: normal;
    font-size: 24px;
    color: #999;
    font-style: italic;
  }

}

.tag {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;

  .count {
    display: inline-block;
    border-right: 1px solid #ddd;
  }
  .name, .count {
    display: inline-block;
    padding: 3px 5px;
  }
  .rate {
    position: absolute;
    z-index: $rating_zindex;
    display: none;
    left: -1px;
    top: 100%;
    padding-top: 3px;
    padding-bottom: 3px;

    &.up {
      top: auto;
      bottom: 100%
    }
  }
  &:hover {
    .rate {
      display: block;
    }
  }
  .name {
    color: #777;
  }
}